*{
   margin: 0;
   padding: 10;
   box-sizing: border-box;
   
}
body {
   font-family: 'lato',sans-serif;
   background: hsl(18, 46%, 72%);
}
header{
  background: rgb(249, 199, 194);
    height: 70px;
    font-size: 18px;
    font-family: fantasy;
    align-items: center;
    padding: 10px;
 }

.nombre{
   float: left;
}

.inicio{
   float: right;
}

article{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   align-items: center;
   float: center;
   border-radius: 4px;
   border: 0px solid black;
   padding: 10px;
   margin-left: 25%;
   margin-right: 150px;
   width: 934px;
   background-color: #f9c7c2;
   display: flex;
}

#form{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   align-items: center;
   border-radius: 4px;
   border: 0px solid black;
   padding: 10px;
   margin-left: 750px;
   margin-right: 750px;
   background-color: rgb(249, 199, 194);
}

.img{
   margin-left: 9%;
}
.campo{
   width: 300px;
   height: 30px;
}

.boton{
   margin-left: 9%;
}

.link{
   margin-left: 4%;
}
input{
   margin-bottom: 5px;
}

.opcion{
   margin-left: 2%;
}

.link1{ 
   margin-left: 20px;
}

.add{
   margin-left: 40%;
}

.addup{
   margin-left: 45%;
}